bodystructure not according to RFC 3501

hi,

i run an integration test againt 1.1.19, when i noticed that the bodystructure is not according to [RFC 3501 Section 7.4.2](http://tools.ietf.org/html/rfc3501#section-7.4.2).

I couldn't locate where this is happening in the code, but there seems to be an extra field, so when inbox parses the fetch response, the disposition is at index 9 instead of index 8 of the body structure...

cheers
felix
